* {
  margin: 0px;
}

.showcase {
  background-color: grey;
  width: 50%;
  min-width: 10em;
  max-width: 40em;
  margin: auto;
  padding: 2em;
  border-bottom: black solid 2px;
}

iframe {
  width: 100%;
  background-color: white;
  border: none;
}
