.showcase {
  font-family: 'Roboto', sans-serif;
  background-color: #e8e8e8;
  width: 50%;
  min-width: 10em;
  max-width: 40em;
  margin: auto;
  padding: 2em;
  border-bottom: black solid 2px;
}

iframe {
  width: 100%;
  background-color: white;
  border: none;
}
