@mixin showcase-font {
	font: {
		family: 'Roboto', sans-serif;
		size: 1em;
	}
}

$default-grey: #e8e8e8;
$border: black solid 2px;

.showcase {
	@include showcase-font;
  background-color: $default-grey;
  width: 60%;
  min-width: 10em;
  max-width: 40em;
  margin: auto;
  padding: 2em;
  border: {
		bottom: $border;
	}
	
	&--wide {
		width: 75%;
	}
	
	h1 {
		font-weight: 400;
	  font-size: 1.5em;
	}

	h2 {
		font-weight: 400;
	  font-size: 1.2em;
	}
}

iframe {
  width: 100%;
  background-color: white;
  border: none;
}

hr {
  margin: {
		top: 1em;
  	bottom: 1em;
	}
}