.showcase {
	font-family: "Roboto", sans-serif;
	background-color: #e8e8e8;
	width: 60%;
	min-width: 10em;
	max-width: 40em;
	margin: auto;
	padding: 2em;
	border-bottom: black solid 2px;
}

.showcase p {
	font-size: 17px;
}

.showcase--wide {
	width: 75%;
}

.showcaseHeader {
	text-decoration: none;
	color: black;
}

iframe {
	width: 100%;
	background-color: white;
	border: none;
}

hr {
	margin-top: 1em;
	margin-bottom: 1em;
}

* {
	margin: 0px;
	/* outline: 1px dashed black; */
}

html {
	font-size: 20px;
	font-family: "Roboto", sans-serif;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: red;
}

h1 {
	font-weight: 400;
	font-size: 1.5em;
}

h2 {
	font-weight: 400;
	font-size: 1.2em;
}

.baseColor {
	background-color: #d39023;
}

.photo {
	width: 100%;
}
